In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv(r"C:\Users\lijaa\OneDrive\Desktop\MY-DAC-Curriculum\DAC-002_EDA\Netflix_Userbase.csv")

In [9]:
df.head()

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month

In [7]:
df.isnull().sum()

User ID              0
Subscription Type    0
Monthly Revenue      0
Join Date            0
Last Payment Date    0
Country              0
Age                  0
Gender               0
Device               0
Plan Duration        0
dtype: int64

In [8]:
duplicate_rows_df = df[df.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)

number of duplicate rows:  (0, 10)

In [15]:
df.info

<bound method DataFrame.info of       User ID Subscription Type  Monthly Revenue Join Date Last Payment Date  \
0           1             Basic               10  15-01-22          10-06-23
1           2           Premium               15  05-09-21          22-06-23
2           3          Standard               12  28-02-23          27-06-23
3           4          Standard               12  10-07-22          26-06-23
4           5             Basic               10  01-05-23          28-06-23
...       ...               ...              ...       ...               ...
2495     2496           Premium               14  25-07-22          12-07-23
2496     2497             Basic               15  04-08-22          14-07-23
2497     2498          Standard               12  09-08-22          15-07-23
2498     2499          Standard               13  12-08-22          12-07-23
2499     2500             Basic               15  13-08-22          12-07-23

             Country  Age  Gender      Device Plan Duration
0      United States   28    Male  Smartphone       1 Month
1             Canada   35  Female      Tablet       1 Month
2     United Kingdom   42    Male    Smart TV       1 Month
3          Australia   51  Female      Laptop       1 Month
4            Germany   33    Male  Smartphone       1 Month
...              ...  ...     ...         ...           ...
2495           Spain   28  Female    Smart TV       1 Month
2496           Spain   33  Female    Smart TV       1 Month
2497   United States   38    Male      Laptop       1 Month
2498          Canada   48  Female      Tablet       1 Month
2499   United States   35  Female    Smart TV       1 Month

[2500 rows x 10 columns]>

In [22]:
df['Subscription Type'].unique()

array(['Basic', 'Premium', 'Standard'], dtype=object)

In [21]:
df['Plan Duration'].unique()

array(['1 Month'], dtype=object)

In [23]:
df['Monthly Revenue'].unique()

array([10, 15, 12, 13, 11, 14])

In [2]:
df['Month'] = df['Join Date'].dt.month
df['Month'].value_counts().sort_index().plot(kind='bar', title='Monthly Sales')
plt.rcParams['figure.figsize'] = (14, 6)
plt.show()

NameError: name 'df' is not defined